@{
    ViewData["Title"] = "Home Page";
}


@{
    <p class="text-success font-weight-bold text-center rounded border border-success p-3 bg-light shadow-sm"
       style="font-size: 1.2rem; line-height: 1.5;">
        @TempData["Login Failed..."]
    </p>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


